* {
  margin: 0;
  padding: 0;
}

:root {
  --white-color: #fff;
  --logo-color: #000;
  --font-color-primary: #000;
  --primary-font-family: "Noto Serif", serif;
  --font-size-xs: 0.5em;
  --font-size-s: 1em;
  --font-size-m: 1.25em;
  --font-size-l: 1.5em;
  --font-size-xl: 2em;
}

.dark-mode {
  --white-color: #000;
  --logo-color: #fff;
  --font-color-primary: #fff;
}

h1 {
  font-size: var(--font-size-xl);
  color: var(--logo-color);
  text-align: center;
}
h1 span {
  color: #ff0000;
}

h2 {
  font-size: var(--font-size-l);
}

h3 {
  font-size: var(--font-size-xl);
  color: var(--logo-color);
}
h3 span {
  color: #ff0000;
}

button {
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
}

body {
  background: var(--white-color);
  color: var(--font-color-primary);
}

header {
  position: relative;
  z-index: 99;
}
header nav {
  position: absolute;
  width: 60%;
  transform: translateX(-100%);
  transition: transform 350ms ease;
}
header nav ul {
  list-style: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-visible {
  transform: translateX(0%);
  height: 100vh;
  width: fit-content;
  padding: 0 1em;
  background-color: black;
  z-index: -1;
}

footer nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer nav li {
  margin-right: 1em;
}

@media screen and (width >= 768px) {
  header nav {
    position: static;
    transform: translateX(0%);
  }
  header nav ul {
    flex-direction: row;
  }
  header nav li {
    margin-right: 1em;
  }
  header li a {
    font-size: var(--font-size-m);
  }
}
@media screen and (width >= 1024px) {
  header li a {
    font-size: var(--font-size-l);
  }
}
@media screen and (width >= 1440px) {
  header li a {
    font-size: var(--font-size-xl);
  }
}
header {
  display: grid;
  grid-template-areas: "menu logo theme";
  grid-template-columns: 50px auto 50px;
  height: 100%;
  background-color: var(--white-color);
}

header li a {
  grid-area: logo;
  text-align: center;
}

#menu-btn {
  grid-area: menu;
}

#theme-btn {
  grid-area: theme;
}

@media screen and (width >= 768px) {
  header {
    display: flex;
    justify-content: center;
  }
  #menu-btn {
    display: none;
  }
}
.choseLang h2 {
  text-align: center;
}
.choseLang > div {
  display: flex;
  justify-content: space-evenly;
  height: 5rem;
}
.choseLang > div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.choseLang > div :nth-child(1) {
  background-color: orangered;
}
.choseLang > div :nth-child(2) {
  background-color: blue;
}
.choseLang > div :nth-child(3) {
  background-color: yellow;
}
.choseLang > div :nth-child(4) {
  background-color: green;
}

.home-page article {
  height: 10rem;
  border: 2px solid blue;
  background-color: gray;
}
.home-page article > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.home-page article + section {
  height: 10rem;
  border: 2px solid blue;
  background-color: gray;
}
.home-page article + section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.index-page main {
  margin-top: 0.5em;
}
.index-page main h2 {
  text-align: center;
}
.index-page ul {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4rem;
}
.index-page li {
  list-style: disc;
}

.content-page main {
  padding: 1em 2em;
}
.content-page dt {
  font-size: var(--font-size-l);
  font-weight: 900;
}
.content-page dd {
  font-size: var(--font-size-m);
}

@media screen and (width >= 1440px) {
  .content-page main {
    padding: 2em 3em;
  }
  .content-page dt {
    font-size: var(--font-size-xl);
  }
  .content-page dd {
    font-size: var(--font-size-l);
  }
}

/*# sourceMappingURL=main.css.map */
