h1 {
    font-size: var(--font-size-xl); 
    color:var(--logo-color);
    text-align: center;
    span {
        color: #ff0000
    }
}
h2 {
    font-size: var(--font-size-xl); 
    color:var(--logo-color);
    span {
        color: #ff0000
    }
}
